<!-- Adm Contact List EJS -->

<%- include ("../header") %>
<%- include ("./adm_header") %>

<% var obPostBul = Object.keys(post).length %>
<% var jtjs = jsonText %>

<div class="om_hid jsontext_div">
    <form action="/adm/excelsend" method="post" id="excelform" target="pop_window">
        <input type="text" name="year" value="<%=post.year%>">
        <input type="text" name="month" value="<%=post.month%>">
        <textarea name="jstextarea"><%- jsonText %></textarea>
    </form>
    
</div>

<script>
    $('.extesst').click(function(){
        window.open("","pop_window","width=500,height=300");
        $('#excelform').submit();
    //$(document).on('click','.extesst',function(){
        /*var datajste = $('.jsontext_div').text();
        $.ajax({
            type : 'post',
            url : '/adm/excelsend',
            data : {
                jsdata: datajste
            },
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "text",
            cache : false,
            success : function(rst){
            
            }
        })*/
    });
</script>
<div class="admconlist_wrap">
    <div class="contactlist_select">
        <form action="/adm/contact" method="post">
            <select name="year">
                <% for(var i = 2017; i < 2100; i++) { %>
                    <% var selected = '' %>
                    <% if(obPostBul){ %>
                        <% if(i == Number(post.year)){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% }else{ %>
                        <% if(i == nowTime.nowY){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% } %>
                    <option value="<%= i %>" <%= selected %>><%= i %></option>
                <% } %>
            </select>
            <select name="month">
                <% for(var i = 1; i < 13; i++) { %>
                    <% var selected = '' %>
                    <% if(obPostBul){ %>
                        <% if(i == Number(post.month)){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% }else{ %>
                        <% if(i == nowTime.nowM){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% } %>
                    <option value="<%= i %>" <%= selected %>><%= i %></option>
                <% } %>
            </select>
            <select name="day">
                <option value="0">전체</option>
                <% for(var i = 1; i < 32; i++) { %>
                    <% var selected = '' %>
                    <% if(post.day!==undefined){ %>
                        <% if(i == Number(post.day)){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% } %>
                    <option value="<%= i %>" <%= selected %>><%= i %></option>
                <% } %>
            </select>
            <input type="text" name="name" value="<%= post.name%>" placeholder="이름" size="7">
            <input type="text" name="hp" value="<%= post.hp%>" placeholder="연락처" size="8">
            <select name="jusogu">
                <option value="0">구선택</option>
                <option value="원미구" <% if(post.jusogu=='원미구'){ %> selected="selected" <%}%> >원미구</option>
                <option value="소사구" <% if(post.jusogu=='소사구'){ %> selected="selected" <%}%> >소사구</option>
                <option value="오정구" <% if(post.jusogu=='오정구'){ %> selected="selected" <%}%> >오정구</option>
            </select>
            <select name="complete">
                <option value="0" <% if(post.complete=='0'){ %> selected="selected" <%}%> >신청대기</option>
                <option value="1" <% if(post.complete=='1'){ %> selected="selected" <%}%> >청소완료</option>
            </select>
            <input type="submit" value="검색">
        </form>
    </div>
    <div class="adm_conlist_date_tit">
        <script>
            var selYear = $('select[name="year"]').val();
            var selMonth = $('select[name="month"]').val();
            var selDay = $('select[name="day"]').val();
            if(selDay=='0'){
                selDay = '';
            }
            else{
                selDay = `${selDay}일`;
            }
            document.write(`${selYear}년 ${selMonth}월 ${selDay}`);;
        </script>
    </div>
    <div class="extesst excel_bt_style">엑셀다운</div>
    <table>
        <tr class="admconlist_tit">
            <td>
                번 호
            </td>
            <td>
                이 름
            </td>
            <td colspan="2">
                주 소
            </td>
            <td>
                청소 날짜
            </td>
            <td>
                청소 시간
            </td>
            <td>
                청소량
            </td>
            <td>
                전화번호1
            </td>
            <td>
                전화번호2
            </td>
            <td>
                청소금액
            </td>
            <td>
                결재여부
            </td>
            <td>
                청소완료
            </td>
            <td>
                청소알림
            </td>
            <td>
                세금계산서
            </td>
            <td>
                요청사항
            </td>
            <td>
                비고
            </td>
            <td></td>

        </tr>
<% var listNum = 1 %>
<% for(clNum in data) { %>
    <% var moneyColor = '' %>
    <% if(data[clNum].wr18=='현금'){ moneyColor = 'mc_black' } %>
    <% if(data[clNum].wr18=='입금'){ moneyColor = 'mc_gray' } %>
    <% if(data[clNum].wr18=='미수'){ moneyColor = 'mc_red' } %>
        <tr>
            <form method="post" id="admconup">
            <td>
                <%= listNum %>
            </td>
            <td>
                <input type="text" name="wr1" value="<%= data[clNum].wr1 %>" class="admconlist_input1"><!--이름-->
            </td>
            <td>
                <select name="wr19">
                    <option value="">구선택</option>
                    <option value="원미구" <% if(data[clNum].wr19=='원미구'){ %> selected="selected" <%}%> >원미구</option>
                    <option value="오정구" <% if(data[clNum].wr19=='오정구'){ %> selected="selected" <%}%> >오정구</option>
                    <option value="소사구" <% if(data[clNum].wr19=='소사구'){ %> selected="selected" <%}%> >소사구</option>
                </select>
            </td>
            <td>
                <input type="text" name="wr4" value="<%= data[clNum].wr4 %>" class="admconlist_input1"><!--주소-->
            </td>
            <td>
                <input type="text" name="wr2" value="<%= data[clNum].wr2 %>" class="admconlist_input1"><!--청소날짜-->
            </td>
            <td>
                <input type="text" name="wr3" value="<%= data[clNum].wr3 %>" class="admconlist_input1"><!--청소시간-->
            </td>
            <td>
                <input type="text" name="wr13" value="<%= data[clNum].wr13 %>" class="admconlist_input3"><!--청소량-->
            </td>
            <td>
                <input type="text" name="wr5" value="<%= data[clNum].wr5 %>" class="admconlist_input1"><!--전화번호1-->
            </td>
            <td>
                <input type="text" name="wr14" value="<%= data[clNum].wr14 %>" class="admconlist_input1"><!--전화번호2-->
            </td>
            <td class="money_td">
                <input type="text" name="wr15" value="<%= data[clNum].wr15 %>" class="admconlist_input3 <%= moneyColor%> moneycolor"><!--청소금액-->
            </td>
            <td>
                <select name="wr18" onchange="moneycol(this.value, this);">
                    <option value="">선택</option>
                    <option value="현금" <% if(data[clNum].wr18=='현금'){ %> selected="selected" <%}%> >현금</option>
                    <option value="입금" <% if(data[clNum].wr18=='입금'){ %> selected="selected" <%}%> >입금</option>
                    <option value="미수" <% if(data[clNum].wr18=='미수'){ %> selected="selected" <%}%> >미수</option>
                </select>
            </td>
            <td>
                <input type="text" name="wr12" value="<%= data[clNum].wr12 %>" class="admconlist_input4"><!--청소완료-->
            </td>
            <td>
                <input type="text" name="wr16" value="<%= data[clNum].wr16 %>" class="admconlist_input4"><!--청소알림-->
            </td>
            <td>
                <input type="text" name="wr7" value="<%= data[clNum].wr7 %>" class="admconlist_input4"><!--세금계산서-->
            </td>
            <td>
                <input type="text" name="wr6" value="<%= data[clNum].wr6 %>" class="admconlist_input1"><!--요청사항-->
            </td>
            <td>
                <input type="text" name="wr17" value="<%= data[clNum].wr17 %>" class="admconlist_input1"><!--비고-->
            </td>
            <td class="admcon_bt">
                <input type="hidden" name="anum" value="<%= data[clNum].anum %>">
                
                <a class="admconup">
                    수정
                </a>
                <a class="admcondel">
                    삭제
                </a>
            </td>
            </form>
        </tr>
    <% listNum++ %>
<% } %>
    </table>
</div>


<%- include ("../footer") %>



<!--이름 wr1-->
<!--주소 wr4-->
<!--청소날짜 wr2-->
<!--청소시간 wr3-->
<!--청소량 wr13 int-->
<!--전화번호1 wr5-->
<!--전화번호2 wr14 varchar(255)-->
<!--청소금액 wr15 int-->
<!--청소완료 wr12-->
<!--청소알림 wr16 varchar(30)-->
<!--세금계산서 wr7-->
<!--요청사항 wr6-->
<!--비고 wr17 text-->
<!--결재여부 wr18-->

<!--년 wr8-->
<!--월 wr9-->
<!--일 wr10-->




<!--
    wr1 이름
    wr2 청소날짜
    wr3 청소시간
    wr4 주소
    wr5 전화번호1
    wr6 요청사항
    wr7 세금계산서
    wr8 년
    wr9 월
    wr10 일
    wr11 청소날짜 timestamp
    wr12 청소완료
    wr13 청소량
    wr14 전화번호2
    wr15 청소금액
    wr16 청소알림
    wr17 비고
    wr18 결재여부
    wr19 구
-->