<!-- Adm Contact List EJS -->

<%- include ("../header") %>
<%- include ("./adm_header") %>

<% var obPostBul = Object.keys(post).length %>
<% var jtjs = jsonText %>

<div class="om_hid jsontext_div">
    <form action="/adm/excelsend" method="post" id="excelform" target="pop_window">
        <input type="text" name="year" value="<%=post.year%>">
        <input type="text" name="month" value="<%=post.month%>">
        <textarea name="jstextarea"><%- jsonText %></textarea>
    </form>
    
</div>

<div class="om_hid jsontext_div">
    <form action="/adm/print" method="post" id="excelform2" target="pop_window2">
        <input type="text" name="year" value="<%=post.year%>">
        <input type="text" name="month" value="<%=post.month%>">
        <input type="text" name="day" value="<%=post.day%>">
        <textarea name="jstextarea"><%- jsonText %></textarea>
    </form>
    
</div>

<script>
    //$('.extesst').click(function(){
    $(document).on('click','.extesst_a',function(){
        window.open("","pop_window","width=500,height=300");
        $('#excelform').submit();
    //$(document).on('click','.extesst',function(){
        /*var datajste = $('.jsontext_div').text();
        $.ajax({
            type : 'post',
            url : '/adm/excelsend',
            data : {
                jsdata: datajste
            },
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "text",
            cache : false,
            success : function(rst){
            
            }
        })*/
    });


    $(document).on('click','.extesst_p',function(){
        window.open("","pop_window2","width=1200,height=800");
        $('#excelform2').submit();
    });
</script>
<div class="admconlist_wrap">
    <div class="contactlist_select">
        <form action="/adm/contact" method="post">
            <select name="year" style="font-size: 1.3rem;">
                <option value="0">전체</option>
                <% for(var i = 2017; i < 2100; i++) { %>
                    <% var selected = '' %>
                    <% if(obPostBul){ %>
                        <% if(i == Number(post.year)){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% }else{ %>
                        <% if(i == nowTime.nowY){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% } %>
                    <option value="<%= i %>" <%= selected %>><%= i %></option>
                <% } %>
            </select>
            <select name="month" style="font-size: 1.3rem;">
                <option value="0">전체</option>
                <% for(var i = 1; i < 13; i++) { %>
                    <% var selected = '' %>
                    <% if(obPostBul){ %>
                        <% if(i == Number(post.month)){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% }else{ %>
                        <% if(i == nowTime.nowM){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% } %>
                    <option value="<%= i %>" <%= selected %>><%= i %></option>
                <% } %>
            </select>
            <select name="day" style="font-size: 1.3rem;">
                <option value="0">전체</option>
                <% for(var i = 1; i < 32; i++) { %>
                    <% var selected = '' %>
                    <% if(post.day!==undefined){ %>
                        <% if(i == Number(post.day)){ %>
                            <% var selected = 'selected="selected"' %>
                        <% } %>
                    <% } %>
                    <option value="<%= i %>" <%= selected %>><%= i %></option>
                <% } %>
            </select>
            <input type="text" name="name" value="<%= post.name%>" placeholder="이름" size="7" style="font-size: 1.3rem;">
            <input type="text" name="hp" value="<%= post.hp%>" placeholder="연락처" size="12" style="font-size: 1.3rem;">
            <input type="text" name="juso" value="<%= post.juso%>" placeholder="주소검색" size="12" style="font-size: 1.3rem;">
            <select name="jusogu" style="font-size: 1.3rem;">
                <option value="0">구선택</option>
                <option value="원미구" <% if(post.jusogu=='원미구'){ %> selected="selected" <%}%> >원미구</option>
                <option value="소사구" <% if(post.jusogu=='소사구'){ %> selected="selected" <%}%> >소사구</option>
                <option value="오정구" <% if(post.jusogu=='오정구'){ %> selected="selected" <%}%> >오정구</option>
            </select>
            <select name="complete" style="font-size: 1.3rem;">
                <option value="0" <% if(post.complete=='0'){ %> selected="selected" <%}%> >신청대기</option>
                <option value="2" <% if(post.complete=='2'){ %> selected="selected" <%}%> >신청접수</option>
                <option value="1" <% if(post.complete=='1'){ %> selected="selected" <%}%> >청소완료</option>
                <option value="3" <% if(post.complete=='3'){ %> selected="selected" <%}%> >전체보기</option>
            </select>
            <input type="checkbox" name="usu" value="1" <% if(post.usu=='1'){ %> checked="checked" <%}%> ><a>우수환경</a>
            <input type="checkbox" name="payrst" value="1" <% if(post.payrst=='1'){ %> checked="checked" <%}%> ><a>미수금</a>
            <input type="submit" value="검색" style="font-size: 1.3rem; padding: 5px 30px;">
        </form>
    </div>
    <div class="adm_conlist_date_tit">
        <script>
            var selYear = $('select[name="year"]').val();
            var selMonth = $('select[name="month"]').val();
            var selDay = $('select[name="day"]').val();
            if(selDay=='0'){
                selDay = '';
                var yoilRst = '';
            }
            else{
                var printDate = new Date(Number(selYear),Number(selMonth)-1,Number(selDay));
                var yoil = ['일','월','화','수','목','금','토'];
                var yoilRst = yoil[printDate.getDay()]+'요일';
                selDay = `${selDay}일`;
            }
            document.write(`${selYear}년 ${selMonth}월 ${selDay} ${yoilRst}`);
        </script>
    </div>
    <div class="extesst excel_bt_style">
        <% if(postconf == 1) { %>
        <a class="extesst_p">출력하기</a>
        <% } %>

        <a class="extesst_a">엑셀다운</a></div>
    <table>
        <tr class="admconlist_tit">
            <td>
                번 호
            </td>
            
            <td>
                이 름
            </td>
            <td colspan="2">
                주 소
            </td>
            <td>
                신주소
            </td>
            <td>
                청소 날짜
            </td>
            <td>
                청소 시간
            </td>
            <td>
                청소량
            </td>
            <td>
                전화번호1
            </td>
            <td>
                전화번호2
            </td>
            <td>
                청소금액
            </td>
            <td>
                결재여부
            </td>
            <td>
                청소완료
            </td>
            <td>
                청소알림
            </td>
            <td>
                전자계산서
            </td>
            <td>
                요청사항
            </td>
            <td>
                비고
            </td>
            <td>
                우수환경
            </td>
            <td></td>

        </tr>
<% var listNum = 1 %>
<% var sumwr13 = 0 %>
<% var sumwr15 = 0 %>
<% for(clNum in data) { %>
    <% if(data[clNum].sumwr13 === undefined){ %>
    <% var moneyColor = '' %>
    <% if(data[clNum].wr18=='현금'){ moneyColor = 'mc_black' } %>
    <% if(data[clNum].wr18=='입금'){ moneyColor = 'mc_gray' } %>
    <% if(data[clNum].wr18=='미수'){ moneyColor = 'mc_red' } %>
    <% var jusoSpl = data[clNum].wr4 %>
    
        <tr>
            <form method="post" id="admconup">
            <td>
                <%= listNum %>
            </td>
            
            <td>
                <input type="text" name="wr1" value="<%= data[clNum].wr1 %>" class="admconlist_input1"><!--이름-->
            </td>
            <td>
                <select name="wr19">
                    <option value="">구선택</option>
                    <option value="원미구" <% if(data[clNum].wr19=='원미구'){ %> selected="selected" <%}%> >원미구</option>
                    <option value="오정구" <% if(data[clNum].wr19=='오정구'){ %> selected="selected" <%}%> >오정구</option>
                    <option value="소사구" <% if(data[clNum].wr19=='소사구'){ %> selected="selected" <%}%> >소사구</option>
                </select>
            </td>
            <td style="width: 260px;">
                <input type="text" name="wr4" value="<%= data[clNum].wr4 %>" class="admconlist_input5"><!--주소-->
            </td>
            <td>
                <input type="text" name="wr23" value="<%= data[clNum].wr23 %>" class="admconlist_input5"><!--신주소-->
            </td>
            <td>
                <input type="text" name="wr2" value="<%= data[clNum].wr2 %>" class="admconlist_input1"><!--청소날짜-->
            </td>
            <td>
                <input type="text" name="wr3" value="<%= data[clNum].wr3 %>" class="admconlist_input1"><!--청소시간-->
            </td>
            <td>
                <input type="text" name="wr13" value="<%= data[clNum].wr13 %>" class="admconlist_input6 conlistwr13input" style="font-weight: bold; font-size:0.8rem; text-align: right;" oninput="conlistwr13(this.value)"><!--청소량-->
            </td>
            <td>
                <input type="text" name="wr5" value="<%= data[clNum].wr5 %>" class="admconlist_input1"><!--전화번호1-->
            </td>
            <td>
                <input type="text" name="wr14" value="<%= data[clNum].wr14 %>" class="admconlist_input1"><!--전화번호2-->
            </td>
            <td class="money_td">
                <input type="text" name="wr15" value="<%= data[clNum].wr15 %>" class="admconlist_input6 conlistwr15input <%= moneyColor%> moneycolor" style="font-weight: bold; font-size:0.8rem; text-align: right;" oninput="conlistwr15(this.value)"><!--청소금액-->
            </td>
            <td>
                <select name="wr18" onchange="moneycol(this.value, this);">
                    <option value="">선택</option>
                    <option value="현금" <% if(data[clNum].wr18=='현금'){ %> selected="selected" <%}%> >현금</option>
                    <option value="입금" <% if(data[clNum].wr18=='입금'){ %> selected="selected" <%}%> >입금</option>
                    <option value="미수" <% if(data[clNum].wr18=='미수'){ %> selected="selected" <%}%> >미수</option>
                </select><!--결재여부-->
            </td>
            <td>
                <select name="wr12" id="">
                    <option value="0" <% if(data[clNum].wr12=='0'){ %> selected="selected" <%}%> >대기</option>
                    <option value="2" <% if(data[clNum].wr12=='2'){ %> selected="selected" <%}%> >접수</option>
                    <option value="1" <% if(data[clNum].wr12=='1'){ %> selected="selected" <%}%> >완료</option>
                </select>
                <!--<input type="text" name="wr12" value="<%= data[clNum].wr12 %>" class="admconlist_input4">--><!--청소완료-->
            </td>
            <td>
                <select name="wr16" id="">
                    <option value="0" <% if(data[clNum].wr16=='0'){ %> selected="selected" <%}%> >미수신</option>
                    <option value="1" <% if(data[clNum].wr16=='1'){ %> selected="selected" <%}%> >수신</option>
                </select>
                <!--<input type="text" name="wr16" value="<%= data[clNum].wr16 %>" class="admconlist_input4">--><!--청소알림-->
            </td>
            <td>
                <select name="wr7" id="">
                    <option value="0" <% if(data[clNum].wr7=='0'){ %> selected="selected" <%}%> >미발행</option>
                    <option value="1" <% if(data[clNum].wr7=='1'){ %> selected="selected" <%}%> >요청</option>
                    <option value="2" <% if(data[clNum].wr7=='2'){ %> selected="selected" <%}%> >완료</option>
                </select>
                <!--<input type="text" name="wr7" value="<%= data[clNum].wr7 %>" class="admconlist_input4">--><!--세금계산서-->
            </td>
            <td>
                <input type="text" name="wr6" value="<%= data[clNum].wr6 %>" class="admconlist_input1"><!--요청사항-->
            </td>
            <td>
                <input type="text" name="wr17" value="<%= data[clNum].wr17 %>" class="admconlist_input1"><!--비고-->
            </td>
            <td>
                <% var wr20selected = '' %>
                <% if(data[clNum].wr20 == '1') { wr20selected = 'checked="checked"' } %>
                <input type="checkbox" name="wr20" value="1" <%- wr20selected %>><!--우수환경-->
            </td>
            <td class="admcon_bt">
                <input type="hidden" name="anum" value="<%= data[clNum].anum %>">
                
                <a class="admconup">
                    저장
                </a>
                <a class="admcondel">
                    삭제
                </a>
            </td>
            </form>
        </tr>
    <% listNum++ %>
    
    
    <% } %>
<% } %>
        <tr>
            <td colspan="19" style="height: 30px;"></td>
        </tr>
        <tr class="adm_conin_tr">
            <form method="post" id="admconin">
                <td>
                    
                </td>
                
                <td>
                    <input type="text" name="wr1" value="" class="admconlist_input1"><!--이름-->
                </td>
                <td>
                    <select name="wr19">
                        <option value="">구선택</option>
                        <option value="원미구"  >원미구</option>
                        <option value="오정구"  >오정구</option>
                        <option value="소사구"  >소사구</option>
                    </select>
                </td>
                <td style="width: 260px;">
                    <input type="text" name="wr4" value="" class="admconlist_input5"><!--주소-->
                </td>
                <td>
                    <input type="text" name="wr23" value="" class="admconlist_input5"><!--신주소-->
                </td>
                <td>
                    <input type="text" name="wr2" value="" class="admconlist_input1"><!--청소날짜-->
                </td>
                <td>
                    <select name="wr3" id="">
                        <option value="">시간선택</option>
                        <option value="오전 중">오전 중</option>
                        <option value="오후 중">오후 중</option>
                        <option value="오전 6시~7시">오전 6시~7시</option>
                        <option value="오전 7시~8시">오전 7시~8시</option>
                        <option value="오전 8시~9시">오전 8시~9시</option>
                        <option value="오전 8시~9시">오전 9시~10시</option>
                        <option value="오전 10시~11시">오전 10시~11시</option>
                        <option value="오전 11시~12시">오전 11시~12시</option>
                        <option value="오후 1시~2시">오후 1시~2시</option>
                        <option value="오후 2시~3시">오후 2시~3시</option>
                        
                    </select>
                    <!--청소시간-->
                </td>
                <td>
                    <input type="text" name="wr13" value="" class="admconlist_input6 conlistwr13input" style="font-weight: bold; font-size:0.8rem; text-align: right;"><!--청소량-->
                </td>
                <td>
                    <input type="text" name="wr5" value="" class="admconlist_input1"><!--전화번호1-->
                </td>
                <td>
                    <input type="text" name="wr14" value="" class="admconlist_input1"><!--전화번호2-->
                </td>
                <td class="money_td">
                    <input type="text" name="wr15" value="" class="admconlist_input6 conlistwr15input moneycolor" style="font-weight: bold; font-size:0.8rem; text-align: right;"><!--청소금액-->
                </td>
                <td>
                    <select name="wr18" onchange="moneycol(this.value, this);">
                        <option value="">선택</option>
                        <option value="현금"  >현금</option>
                        <option value="입금"  >입금</option>
                        <option value="미수"  >미수</option>
                    </select>
                </td>
                <td>
                    <select name="wr12" id="">
                        <option value="0">대기</option>
                        <option value="2">접수</option>
                        <option value="1">완료</option>
                    </select>
                    <!--청소완료-->
                </td>
                <td>
                    <select name="wr16" id="">
                        <option value="0">미수신</option>
                        <option value="1">수신</option>
                    </select><!--청소알림-->
                </td>
                <td>
                    <select name="wr7" id="">
                        <option value="0">미발행</option>
                        <option value="1">요청</option>
                        <option value="2">완료</option>
                    </select><!--세금계산서-->
                </td>
                <td>
                    <input type="text" name="wr6" value="" class="admconlist_input1"><!--요청사항-->
                </td>
                <td>
                    <input type="text" name="wr17" value="" class="admconlist_input1"><!--비고-->
                </td>
                <td>
                    
                    <input type="checkbox" name="wr20" value="1" ><!--우수환경-->
                </td>
                <td class="admcon_bt">
                    <input type="hidden" name="anum" value="">
                    
                    <a class="admconin">
                        신규추가
                    </a>
                </td>
                </form>
        </tr>
    </table>
</div>
<div class="om_sum_conlist">
    <table>
        <tr>
            <td>
                총 청소량
            </td>
            <td class="wr13Rst">
                <%= data[listNum-1].sumwr13 %>
            </td>
            <td>
                총 청소금액
            </td>
            <td class="wr15Rst">
                <%= data[listNum-1].sumwr15 %>
            </td>
        </tr>
    </table>
</div>

<style>
.top_scroll_bt {
    /* position: absolute; */
    display: inline-block;
    width: 20px!important;
    /* bottom: 10px;
    right: 10px; */
    z-index: 999999;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px 10px;
    background-color: white;
}
.top_scroll_bt i {
    font-size: 1.5rem;
}
</style>
<div style="height: 80px;"></div>
<div style="width: 100%; height: 100px; text-align: right;">
<div class="top_scroll_bt" onclick="window.scrollTo(0,0);">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
    <!-- <img src="/img/main/top_scroll_bt.png"> -->
  </div>
</div>


<%- include ("../footer") %>



<!--이름 wr1-->
<!--주소 wr4-->
<!--청소날짜 wr2-->
<!--청소시간 wr3-->
<!--청소량 wr13 int-->
<!--전화번호1 wr5-->
<!--전화번호2 wr14 varchar(255)-->
<!--청소금액 wr15 int-->
<!--청소완료 wr12-->
<!--청소알림 wr16 varchar(30)-->
<!--세금계산서 wr7-->
<!--요청사항 wr6-->
<!--비고 wr17 text-->
<!--결재여부 wr18-->

<!--년 wr8-->
<!--월 wr9-->
<!--일 wr10-->




<!--
    wr1 이름
    wr2 청소날짜
    wr3 청소시간
    wr4 주소
    wr5 전화번호1
    wr6 요청사항
    wr7 세금계산서
    wr8 년
    wr9 월
    wr10 일
    wr11 청소날짜 timestamp
    wr12 청소완료
    wr13 청소량
    wr14 전화번호2
    wr15 청소금액
    wr16 청소알림
    wr17 비고
    wr18 결재여부
    wr19 구
    wr20 우수환경
    wr21 개인정보동의
    wr22 건물명
    wr23 신주소
-->